@import '../../styles/variables.scss';

.footerContainer {
    position: relative;
    margin-top: -50px;
    bottom: 0;
    height: 300px;
    width: 100%;
    background-color: $secondary-darkGrey;
    z-index: -100;

}
