@import '../../styles/variables.scss';

.container {
    width: 100%;
    display: flex;
    flex-flow: wrap;
    align-content: flex-start;
    align-items: flex-start;
    margin-bottom: 80px;
   
    & .cardContainer {
        width: 350px;
        height: 478px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-bottom: 30px;
        margin-left: auto;
        margin-right: auto;
        
        & img {
            height:320px;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
        }

        & .content {
            background-color: $design-card-bg;
            text-align: center;
            height: 158px;
            border-bottom-left-radius: 15px;
            border-bottom-right-radius: 15px;
            transition: all .5s;

            &:hover {
                background-color: $primary-peach;
                cursor: pointer;

                & .name {
                color: white;
                }

                & .description {
                    color: white;
                }
            }

            & .name {
                color: $primary-peach;
                font-weight: 500;
                font-size: 20px;
                line-height: 1.5;
                letter-spacing: 5px;
            }

            & .description {
                font-size: 16px;
                line-height: 1.5;
                color: $primary-black;
                padding: 0 20px;
            }
        }
    }

}

@media (min-width: 770px) and (max-width: 1111px) {

    .container {
        width: 690px;
        margin: 0 auto 20px;

        & .cardContainer {
            flex-direction: row;
            justify-content: center;
            align-items: center;
            height:320px;
            width: 100%;
            margin-bottom: 30px;
            margin-top: 0;

            & img {
                border-top-right-radius: 0px;
                border-bottom-right-radius: 0px;
                border-top-left-radius: 15px;
                border-bottom-left-radius: 15px;
            }

            & .content {
                height: 320px;
                border-bottom-left-radius: 0;
                border-top-right-radius: 15px;
                display: flex;
                flex-direction: column;
                justify-content: center;
        
                & .name {
                    margin-bottom: -1px;
                }
            }
        }

    }

}