//Jost Font:
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500&display=swap');
//Font Rule: font-family: 'Jost', sans-serif;

//Primary Colors:
$primary-peach: rgb(231, 129, 107);
$primary-black: rgb(29, 28, 30);
$primary-white: rgb(255, 255 ,255);

//Secondary Colors:
$secondary-peach: rgb(255, 173, 155);
$secondary-darkGrey: rgb(51, 49, 54);
$secondary-lightGrey: rgb(241, 243, 245);

//Design Cards
$design-card-bg: #fdf3f0;

