@import '../../styles/variables.scss';

.buttonContainer {
    margin-top: 50px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    width: 152px;
    border-radius: 10px;
    font-size: 15px;
    transition: all .5s;
    cursor: pointer;

    &.small {
        font-size: 10px;
    }

    &.dark{
        background-color: $primary-peach;
        color: $primary-white;
        &:hover{
            background-color: $secondary-peach;
        }
    }

    &.light{
        background-color: $primary-white;
        color: $primary-black;
        &:hover {
            background-color: $secondary-peach;
            color: $primary-white;
        }

    }
}

