@import '../../styles/variables.scss';

.buttonContainer {
    margin-top: 50px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 152px;
    border-radius: 10px;
    font-size: 15px;


    &.dark{
        background-color: $primary-peach;
        color: $primary-white;
    }

    &.light{
        background-color: $primary-white;
        color: $primary-black;

    }



}