@import '../../styles/variables.scss';

.buttonContainer {
    height: 100px;
    width: 100px;
    background-color: $primary-white;
    color: black;

    // &.dark{

    // }

    // &.light{

    // }
}