@import './styles/variables.scss';

.container {
    width: 100%;
    height: 100vh;
    background-color: $veryDarkBlueBackground;
}

.cardContainer {
    background-color: $veryDarkBlueBackground;
    width: 100%;
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

