@import '../../styles/variables.scss';

.container {
    width: 1111px;
    height: 480px;
    margin-bottom: 120px;
    display: flex;
    justify-content: space-between;

    & .contentContainer {
        width: 100%;
        padding-left: 90px;
        background-color: $primary-peach;
        color: white;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        background-image: url('../../assets/about/desktop/bg-pattern-hero-about-desktop.svg');
        background-position: right;
        background-size: contain;
        background-repeat: no-repeat;


        & .header{
            margin-top: 110px;
            margin-bottom: -5px;
            font-size: 48px;
            font-weight: 500
        }

        & .content {
            font-size: 16px;
            line-height: 1.3;
            width: 475px;
        }
    }

    & .contentImage {
        
        & img {
            height: 100%;
            border-top-right-radius: 15px;
            border-bottom-right-radius: 15px;
        }
    }

}

@media (min-width: 770px) and (max-width: 1111px) {
    .container {
        width: 690px;
        flex-direction: column;
        margin: 25px auto 200px;

        & .contentContainer {
            order: 2;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 690px;
            padding-left: 0;
            border-top-left-radius: 0px;
            border-bottom-right-radius: 15px;
            background-position: 30% -120px;
            
            & .header {
                margin-top: 40px;
            }

            & .content {
                margin-bottom: 60px;
            }
            
        }
        & .contentImage {
            order: 1;
            height: 320px;

            & img {
                height: 320px;
                width: 690px;
                content: url('../../assets/about/tablet/image-about-hero.jpg');
                border-top-right-radius: 15px;
                border-top-left-radius: 15px;
                border-bottom-right-radius: 0px;
                

            }
        }
    }
}

@media (max-width: 770px) {
    .container { 
        width: 375px;
        height: 715px;
        margin: 0 auto;
        flex-direction: column;
        justify-content: flex-start;
        

        & .contentContainer {
            order: 2;
            width: 375px;
            height: 340px;
            text-align: center;
            padding: 0;
            border-radius: 0;
            background-position: 80px -200px;

            & .header {
                margin: 50px auto 0;
            }

            & .content {
                width: 350px;
                margin: 10px auto 0;
            }
        }

        & .contentImage {
            order: 1;
            width: 375px;
            height: 325px; 

            & img {
                width: 375px;
                content: url('../../assets/about/mobile/image-about-hero.jpg');
                border-radius: 0;
            }
        }
    }
}