@import '../../styles/variables.scss';

.container {
    width: 1111px;
    height: 640px;
    display: flex;
    margin-bottom: 50px;

    & .contentImage img {
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
    }

    & .contentContainer {
        background-color: $design-card-bg;
        padding: 90px 90px 0;
        background-image: url('../../assets/shared/desktop/bg-pattern-two-circles.svg');
        background-repeat: no-repeat;
        background-position: -150px 100%;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;

        & .header {
            color: $primary-peach;
            font-size: 40px;
            line-height: 1.2;
            font-weight: 500;
        }

        & .content {
            color: $primary-black;
            font-size: 16px;
            line-height: 1.5;
        }
    }

}

@media (min-width: 770px) and (max-width: 1111px) {
    .container {
        width: 690px;
        flex-direction: column;
        margin: 25px auto 175px;

        & .contentContainer {
            text-align: center;
            order: 2;
            display: flex;
            flex-direction: column;
            align-items: center;
            background-position: right;
            width: 690px;
            padding: 0;
            border-top-left-radius: 0px;
            border-bottom-right-radius: 15px;
            
            & .header {
                margin-top: 40px;
            }

            & .content {
                margin: 0 50px 60px;
            }
            
        }
        & .contentImage {
            order: 1;
            height: 320px;

            & img {
                height: 320px;
                width: 690px;
                content: url('../../assets/about/tablet/image-world-class-talent.jpg');
                border-top-right-radius: 15px;
                border-top-left-radius: 15px;
                border-bottom-right-radius: 0px;
                

            }
        }
    }
}