@import '../../styles/variables.scss';

.container {
  width: 1111px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 75px;
  height: 640px;
  color: $primary-white;
  letter-spacing: 1.5px;
  text-align: center;

  & .containerLeft {
    margin-right: 30px;
  }

  & .containerRight {
    display: flex;
    flex-direction: column;

    & .appDesignContainer {
      margin-bottom: 24px;
    }
  }

  & a {
    text-decoration: none;
    color: $primary-white;
    cursor: pointer;
    transition: all 0.5s;
  }

  & .webDesign,
  & .appDesign,
  & .graphicDesign {
    position: relative;

    & .scrim {
      background-color: black;
      transition: all 0.5s;
      width: 541px;
      border-radius: 15px;

      &:hover {
        background-color: $primary-peach;
      }
    }
  }

  & .webDesign .scrim {
    height: 640px;
  }

  & .appDesign,
  & .graphicDesign {
    & .scrim {
      height: 308px;
    }
  }

  p {
    font-size: 15px;
    font-weight: 500;
  }

  span {
    color: $primary-peach;
    display: inline-block;
    font-weight: 600;
    font-size: 16px;
    transform: scaleX(0.45);
  }

  img {
    border-radius: 15px;
    opacity: 0.7;
    transition: all 0.5s;
  }

  .featureText {
    width: 300px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

@media (min-width: 770px) and (max-width: 1111px) {
  .container {
    width: 690px;
    height: 660px;

    & .webDesign,
    & .appDesign,
    & .graphicDesign {
      width: 690px;
      height: 200px;
      overflow: hidden;
      border-radius: 15px;

      & .scrim {
        width: 690px;

      }
    }

    & .webDesign {
      margin-bottom: 25px;
      & img {
        content: url('../../assets/home/tablet/image-web-design.jpg');
      }
    }

    & .appDesign {
      & img {
        content: url('../../assets/home/tablet/image-app-design.jpg');
      }
    }

    & .graphicDesign {
      & img {
        content: url('../../assets/home/tablet/image-graphic-design.jpg');
      }
    }
  }
}
