@import '../../styles/variables.scss';

.headerContainer {
    height: 100px;
    width: 1111px;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    & .logoContainer {
        display: flex;
        align-items: center;

        & img { 
            height: 20.54px;
            margin-left: 10px;
        }
    }

    & .navContainer {
        & ul {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            letter-spacing: 2px;
            font-size: 14px;

            & li:not(:last-child) {
                margin-right: 25px;

            }

            & a {
                text-decoration: none;
                color: $primary-black;
                cursor: pointer;
            
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

}

@media (min-width: 770px) and (max-width: 1111px) {
    .headerContainer {
        width: 690px;
        margin-bottom: 0;
    }
}

@media (max-width: 770px) {
    .headerContainer {
        width: 375px;

    & .mobileNavIcon {
        transition: all .5s;
        cursor: pointer;
    }

    & .mobileNavContainer{
        height: 300px;
        width: 375px;
        background-color: $secondary-darkGrey;
        position: absolute;
        left: 50%;
        top: 100px;
        transform: translateX(-50%);
        & ul {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            letter-spacing: 2px;
            font-size: 30px;
            
            & li {
                margin-bottom: 30px;
            }

            & a {
                text-decoration: none;
                color: $primary-white;
                cursor: pointer;
            
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }


    }
}