@import '../../styles/variables.scss';

.card {
    color: $white;
    margin: 25px 15px;
    background-color: $darkBlue;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;    
}

.imageContainer {
    height: auto;
    max-width: 300px;

    & img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        object-fit: cover;
    }
}

h4 {
    margin-left: 20px;
    margin-top: 15px;
    display: inline-block;
    width: 200px
}

.info {
    margin-top: -8px;
    margin-left: 20px;
    margin-bottom: 20px;
    line-height: 1.6;
    font-size: 14px;
}

.stats { 
    font-weight: 600;
    
}

@media (max-width: 662px) {
    .card {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}


// When we get to 600px show 2 cards
// when 800px show 3 cards
// when >1000px show 4 cards 
// Look up how to set max number of flex items per row