@import '../../styles/variables.scss';

.filter {
    margin-top: 30px;
    width: 120px;
    color: $white;
    background-color: $darkBlue;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
    transition: all .5s;

    &.light {
        background-color: $white;
        color: $veryDarkBlueText;
    }
}
