@import '../../styles/variables.scss';

.input {
    margin-top: 30px;
    width: 240px;
    background-color: $darkBlue;
    padding: 10px;
    border-radius: 5px;
    color: white;
    
    &.empty {
        font-family: Nunito Sans, FontAwesome;
        font-style: normal;
        font-weight: normal;

    }

}

