@import './styles/variables.scss';

.container {
    width: 1111px;
    margin: 0 auto;
}

.ovalLeft {
    position: absolute;
    left: 0;
    top: 70%;
    z-index: -100;
}
.ovalRight {
    position: absolute;
    right: 0;
    top: 220%;
    transform: scaleX(-1);
    z-index: -100;
}
@media (min-width: 770px) and (max-width: 1111px) {
    .container {
        width: 770px;
    }
}

@media (max-width: 770px) {
    .container {
        width: 375px;
    }
}
