@import '../../../styles/variables.scss';

.container {
    height: 60px;
    width: 90%;
    display: flex; 
    justify-content: space-between;
    align-content: center;
    margin: 0 auto;
    padding: 10px;
    color: white;
    display: flex;
    align-items: center;
}

