@import '../../styles/variables.scss';

.container {
  text-align: center;
  margin: 0 auto;
  width: 1111px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 50px;

  & .passionate {
    & img {
      background-image: url('../../assets/shared/desktop/bg-pattern-small-circle.svg');
      background-size: cover;
    }
  }

  & .resourceful {
    & img {
      background-image: url('../../assets/shared/desktop/bg-pattern-small-circle.svg');
      background-size: cover;
    }
  }

  & .friendly {
    & img {
      background-image: url('../../assets/shared/desktop/bg-pattern-small-circle.svg');
      background-size: cover;
    }
  }

  & .heading {
    font-size: 20px;
    letter-spacing: 5px;
    text-transform: uppercase;
  }

  & .description {
    width: 330px;
  }
}

@media (min-width: 770px) and (max-width: 1111px) {
  .container {
    width: 690px;
    flex-direction: column;
    margin: 0 auto;
    

    & .passionate,
    & .resourceful,
    & .friendly {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        text-align: left;
        margin-bottom: 20px;

        & .heading,
        & .description {
            width: 450px;
        }



  }
}
}
