@import '../../styles/variables.scss';


.container {
    width: 1111px;
    height: 480px;
    margin-bottom: 120px;
    display: flex;
    justify-content: space-between;
    position: relative;

    & .contentContainer {
        width: 100%;
        padding-left: 90px;
        background-color: $primary-peach;
        color: white;
        border-radius: 15px;
        background-image: url('../../assets/about/desktop/bg-pattern-hero-about-desktop.svg');
        background-position: 0 -150px;
        background-repeat: no-repeat;


        & .header{
            margin-top: 140px;
            margin-bottom: -5px;
            font-size: 48px;
            font-weight: 500
        }

        & .content {
            font-size: 16px;
            line-height: 1.3;
            width: 450px;
        }
    }

    & .form {
        position: absolute;
        top: 10%;
        right: 133px;

           & input[type=text], textarea {
            background-color: transparent;
            width: 300px;
            font-family: 'Jost', sans-serif;
            color: $primary-white;
            font-size: 15px;
            padding: 12px 20px;
            margin: 8px 0;
            display: block;
            border: none;
            border-bottom: 1px solid $primary-white;
            resize: none;

            &:focus {
                outline: none;
            }
            &::placeholder{
                color: white;
            }

        }

        & button {
            position: absolute;
            right: 0;
            bottom: -70px;
            display: inline-block;
            border: none;
            border-radius: 5px;
            width: 150px;
            height: 50px;
            padding: 5px;
            margin: 0;
            font-weight: 500;
            letter-spacing: 1px;
            text-decoration: none;
            background: $primary-white;
            color: $primary-black;
            font-family: 'Jost', 'sans-serif';
            font-size: 16px;
            cursor: pointer;
            text-align: center;
            transition: all 150ms ease;
            -webkit-appearance: none;
            -moz-appearance: none;
        }
        
         & button:hover,
         & button:focus {
            background: $secondary-peach;
            color: $primary-white;
        }
        
         & button:focus {
            outline: 1px solid #fff;
            outline-offset: -4px;
        }
        
         & button:active {
            transform: scale(0.99);
        }

    }

}


@media (min-width: 770px) and (max-width: 1111px) {
    .container {
        width: 690px;
        height: 550px;
        margin: 0 auto 100px;

        & .contentContainer {
            padding: 10px 0 0 30px;
            background-position: -125px -200px;
            & .header {
                margin-top: 20px;
            }

            & .content {
                width: 580px;
            }
        }

        & .form {   
            margin-top: 120px;
            right: 90px;

            & input[type=text], textarea {
            width: 500px;
            }
        }
    }
}

@media (max-width: 770px) {
    .container {
        width: 375px;
        height: 580px;
        margin: 0 auto;
        
        & .contentContainer {
            padding: 0;
            text-align: center;

            & .header {
                margin-top: 20px;
                
            }
                & .content {
                margin: 15px auto;
                width: 350px;
            }
        }

        & .form {
            width: 336px; 
            right: 0;
            top: 200px;


            & input[type=text], textarea {
                width:260px;
            }

            & button {
                right: 105px;
            }
    
        }
    }
}


