//Dark Mode
$darkBlue:hsl(209, 23%, 22%);
$veryDarkBlueBackground: hsl(207, 26%, 17%);

//Light Mode
$veryDarkBlueText: hsl(200, 15%, 8%);
$darkGrayInput: hsl(0, 0%, 52%);
$veryLightGrayBackground: hsl(0, 0%, 98%);

//Dark mode text & light mode elements
$white:hsl(0, 0%, 100%);